.pictures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: flex-start;
}

.face_button {
    align-items: flex-start; /* 垂直方向对齐到顶部 */
    gap: 10px; /* 添加按钮之间的间隙 */
    height: 100px;
    position: relative; 
    max-width: 400px;
}

.face_select {
    width: 200px;
    position: absolute;
    top: 0;
    left: 120px;
}

.face_button_search {
    position: absolute;
    top: 0;
    left: 330px;
}

.face_card {
    width: calc(25% - 20px); /* 默认四个卡片一行，减去margin */
    height: 360px;
    margin: 10px;
    box-sizing: border-box;
}

/* 屏幕宽度小于1300px时，三个卡片一行 */
@media (max-width: 1300px) {
    .face_card {
        width: calc(33.33% - 20px); /* 三个卡片一行，减去margin */
    }
}

/* 屏幕宽度小于1000px时，两个卡片一行 */
@media (max-width: 1000px) {
    .face_card {
        width: calc(50% - 20px); /* 两个卡片一行，减去margin */
    }
}

/* 屏幕宽度小于800px时，一个卡片一行 */
@media (max-width: 800px) {
    .face_card {
        width: calc(100% - 20px); /* 一个卡片一行，减去margin */
    }
}


.face_pic {
    border-radius: 12px;
    height: 220px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.face_pic img {
    border-radius: 12px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.face_button { 
    display: 'flex';
    justify-content: center;
    flex-wrap: wrap;
}
